*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: linear-gradient(180deg, #fff 0%, #d7d7d7 100%);
}
.main__container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main__container img {
  width: 100%;
  height: 600px;
}
.main__container__content {
  display: flex;
  position: absolute;
  max-width: 1366px;
  width: 100%;
  padding: 0 4em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}
.main__container__content__logo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.main__container__content__text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__container__content__logo img {
  width: 100%;
  height: 101px;
  width: 92px;
}
.logos__container {
  display: flex;
  padding: 0 4em;

  width: 100%;
  align-items: center;
  justify-content: center;
  margin: -2em auto 0;
  position: absolute;
}
.logos__container__list {
  display: flex;
  background-color: white;
  border-radius: 80px;
  max-width: 1200px;
  width: 100%;
  height: 80px;
  padding: 0 2em;
  align-items: center;
}
.logos__container__list__img {
  height: fit-content;
  width: 100px;
}

.logos__container__list__img img {
  height: 50px;
  cursor: pointer;
}
.logos__container__list__img img:hover {
  margin-bottom: 2px solid black;
}
.logos__container__list swiper-slide,
.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swipper__slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swipper__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products__container {
  display: flex;
  padding: 10em 4em 4em;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.products__container__products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1366px;
  width: 100%;
  // margin-left: 1em;
  // margin-bottom: 1em;
  gap: 3em;
  justify-content: center;
  align-items: center;
}
.products__container__product {
  position: relative;
  display: flex;
}
.products__container__product__content {
  position: absolute;
  display: none;
  align-items: flex-end;

  padding: 1.5em;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);

  top: 0;
  left: 0;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.products__container__product:hover {
  .products__container__product__content {
    display: flex;
  }
}
.products__container__product__content__text {
  display: flex;
  color: white;
  flex: 1;
  font-size: 20px;
  font-weight: 600;
}
.products__container__product__content__icons {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
}
.products__container__product__content__icon {
  margin-top: 0.5em;
  cursor: pointer;
}
.footer {
  display: flex;

  width: 100%;

  margin: 0 auto;
  position: sticky;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.footer__content {
  background-color: white;
  display: flex;
  width: 100%;
  max-width: 850px;
  min-width: 350px;
  padding: 1em 4em;
  margin: 0 1.5em;
  justify-content: space-between;
  border-radius: 32px 32px 0 0;
  align-items: center;
}
.footer__content__icon svg {
  width: 40px;
  cursor: pointer;
}
.footer__content__icon img {
  width: 40px;
  cursor: pointer;
}
.product__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999;
}
.product__popup__container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 800px;
  width: 100%;
  max-width: 900px;
  min-width: 300px;
  margin: 0 1em;
}
.product__popup__container__close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}
.product__popup__container__close span {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  width: fit-content;
  border-radius: 50px;
  padding: 0.5em 0.7em;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
}
.product__popup__container__close span:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.product__popup__container__btns {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 1em 0 0.7em;
  justify-content: center;
}
.product__popup__container__Product__name {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  color: white;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 500px;
}
.image-gallery-icon {
  color: #ffffff;
  transition: all 0.3s ease-out;
  appearance: none;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: none;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px;
  background-color: rgb(66, 66, 66);
  border-radius: 100px;
  padding: 0.3em 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  width: 70px;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: none;
}
.mobile__view {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.5em;
}
.product__popup__container__btns__mobile {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 1em 0 0.7em;
}
.product__popup__container__Product__name__mobile {
  display: flex;
  font-size: 18px;
  font-weight: 600;
}
.product__main__container {
  display: flex;
  flex-direction: column;
}
.favourite__content {
  display: flex;
  background-color: #000;
  height: 350px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.favourite__heading {
  display: flex;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.favourite__content__search {
  background-color: white;
  border-radius: 50px;
  height: 80px;
  width: 90%;
  max-width: 1000px;
  padding: 0 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 1em 0;
}
.favourite__content__search input {
  background-color: transparent;
  border-radius: 50px;
  height: 80px;
  width: 90%;
  border: transparent;
  outline: none;
  font-size: 24px;
}
.favourite__content__search svg {
  cursor: pointer;
}
.no__data {
  display: flex;
  height: 900px;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #979797;
}
//------------------------------------------------------------------------------
@media (max-width: 650px) {
  .main__container img {
    height: 300px;
    width: 100%;
  }
  .main__container__content {
    margin-top: -2em;
    padding: 0 1.5em;
  }
  .main__container__content__logo {
    margin-top: 0em;
  }

  .main__container__content__logo img {
    height: fit-content;
    width: 42px;
  }
  .logos__container {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 999999;
  }
  .logos__container__list {
    border-radius: 0px;
  }
  .products__container {
    padding: 3em 0em 4em;
  }
  .footer__content {
    padding: 0.7em 2em;
  }
  .footer__content__icon svg {
    width: 30px;
  }
  .footer__content__icon img {
    width: 30px;
  }

  .products__container__product__content {
    display: flex;
  }
  .mobile__view {
    display: flex;
  }
  .product__main__container {
    width: 100%;
  }
  .products__container__product img {
    width: 100%;
  }
  .products__container__product__content {
    border-radius: 0px;
  }

  .products__container__product__content__icons {
    display: none;
  }
  .footer {
    z-index: 999999999999999999;
  }
}
